<div class="form-group">
  <label>Nome</label>
  {{input type='text' class='form-control' value=car.name}}
</div>
<div class="form-group">
  <label>Ano</label>
  {{input type='text' class='form-control' value=car.year}}
</div>
<div class="form-group">
  <label>Disponível</label>
  {{input type='checkbox'  name='available' class='form-control' checked=car.available}}
</div>
