<div class="col-md-10">
	{{#link-to 'cars.view' car.id class='link' }} {{car.name}} {{/link-to}}
</div>
<div class="col-md-1">
	{{#link-to 'cars.edit' car.id class='label label-primary'}} Alterar {{/link-to}}
</div>
<div class="col-md-1">
	{{#link-to 'cars.delete' car.id class='label label-danger'}} Deletar {{/link-to}}
</div>
<br>
