<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <br><br>
      <form {{ action 'save' car on='submit'}}>
				{{cars/car-form car=car action='create'}}
				<button class="btn btn-success">Criar</button>
      </form>
    </div>
  </div>
</div>
